* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  height: 100vh;
}

:root {
  --grey: #f1f6f9;
  --secondary-grey: #9ba4b5;
  --blue: #394867;
  --secondary-blue: #212a3e;
}

.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: minmax(200px, 1fr) 7fr;
  grid-template-rows: 1fr minmax(250px, 4fr);
}

.header {
  background-color: var(--secondary-blue);
  grid-column: 2 / 3;
}

.sidebar {
  background-color: var(--secondary-grey);
  grid-column: 1 / 2;
  grid-row: 1 / 3;

  display: grid;
  grid-template-rows: 1fr 1fr;
}
